@import "../utils/vars";

.Donations{
    position: relative;

    .splahs{
        background-color:rgba(255, 255, 255, 0.9);
        z-index: 2;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        @include center();

        .message{
            @include boxShadow();
            @include center();
            flex-direction: column;
            background-color: white;
            padding: 20px 30px;

            img{
                margin-bottom: 30px;
            }

            p{
                font-size: 17px;
                margin-bottom: 5px;
                max-width: 350px;
            }

            h5{
                font-size: 17px;
                width: 250px;
                font-weight: bold;
            }

            button{
                margin-top: 30px;
            }
        }
    }

    .banner{
        position: relative;
        width: 100%;
        height: 92vh;
        background: linear-gradient(89.71deg, rgba(61, 169, 252, 0.87) 36.5%, rgba(61, 169, 252, 0) 77.02%);
        mix-blend-mode: normal;
        padding: 50px 5.75%;
        overflow: hidden;

        img{
            position: absolute;
            width: 100vw;
            top: 0;
            left: 0;
            margin: 0;
            z-index: -1;
            opacity: .3;
        }
    
        *{
            color: $secondary-color;
            font-family: Muli;
            font-style: italic;
        }
    
        h1{
            margin-top: 5%;
            font-weight: bold;
            font-size: 50px;
            margin-bottom: 0;
            width: 55%;
        }
    
        p{
            margin-top: -10px;
            font-weight: 200;
            font-size: 16px;
            line-height: 31px;
            font-weight: lighter;
        }
    
        h5{
            margin-top: 35px;
            font-weight: normal;
            line-height: 25px;
            width: 40%;
            opacity: .9;
    
            strong{
                font-weight: bolder;
                opacity: 1 !important;
            }
        }
    
        button {
            background: white;
            color: $primary-color;
            margin-top: 20px;
            width: 15%;
        }
    
        .location {
            margin-top: 10%;
        }
    }

    .form{
        width: 100%;
        justify-content: space-between;
        margin: 50px 0;

        h4{
            color: $thrid-color;
            margin-bottom: 50px;
        }

        .first{
            position: relative;
            width: 45%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 50px;

            img{
                width: 100px;
                margin-bottom: 10px;
            }
            h4{
                position: absolute;
                top:0;
            }
        }

        .second{
            @include center();
            flex-direction: column;
            width: 55%;

            input, select {
                width: 420px;
                padding: 0 0 10px 0;
                margin-bottom: 20px;
                border: none;
                border-bottom: solid 1px $primary-color;
            }

            select{
                display: block;
            }
        }
    }

    .btnDonar{
        margin: 0 45%;
    }

    .not{
        width: 100%;
        text-align: center;
        font-weight: bold;
        color: $thrid-color;
        margin: 10px 0 50px;
    }

}