@import "../utils/vars";

.Forum{
    .InputPost {
        position: relative;
        margin: 50px 0;
        div h6 {
            color: $primary-color;
            font-weight: bold;
        }
        button{
            position: absolute;
            right: 20px;
            bottom: -15px;
        }
    }

    .filters .row{
        margin-bottom: 30px;
        h6{
            color: $thrid-color;
            font-weight: bold;
        }

        select {
            background-color: $primary-color;
            color: $secondary-color;
            border: none;
            border-radius: 10px;

            option {
                color: $secondary-color;
            }
        }
    }

    .ClosedPost {
        margin-bottom: 50px;

        .row {
            .col {
                color: $thrid-color;
                font-weight: bold;
                margin-bottom: 0;
            }
        }
        .name { margin-top: -10px;}

        .actions {
            justify-content: flex-end;
            button {
                background: none;
                color: $thrid-color;
                font-weight: bold;
            }
        }
    }
}

.Welcome {
    @include center();
    flex-direction: column;
    h1{
        color: $thrid-color;
        margin: 50px 0;
        font-size: 35px;
        font-weight: bold;
    }

    .row{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 50px;
        img{
            width: 45%;
        }

        .colum{
            @include center();
            flex-direction: column;

            p{
                width: 70%;
                margin-bottom: 5px;
            }

            h5 {
                margin: 20px 0;
                color: $thrid-color;
            }

            select{
                color: $thrid-color;
                border: none;
                *{color: $thrid-color;}
                margin-bottom: 40px;
            }

            button {
                font-weight: normal;
            }
        }
    }
}