@import "../utils/vars";
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  font-family: 'Muli', sans-serif;
  font-style: italic;
  @include font-size(16);
  color: $fourth-color;
}

body{
  font-size: 14px;
}

a{
  color: $fourth-color;
  opacity: 1;
  &:hover{
    opacity: .5;
  }
}

.Nav {
  @include boxShadow();
  border-radius: 0;
  padding-left: 50px;
  padding-right: 50px;

  *{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
  }
}

button{
  background-color: $primary-color;
  min-width: 125px;
  border-radius: 10px;
  height: 30px;
  font-family: 'Poppins';
  font-weight: bold;
  font-style: normal;
  border: none;
  color: $secondary-color;
}

.btn-2{
  color: $thrid-color !important;
  background-color: $secondary-color;
}

li {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

footer{
  background-color: $thrid-color;
  .row{
    justify-content: space-between;
    padding: 20px;
  }
  *{color: $secondary-color;}
  p{margin: 0;}
}