@import "../utils/vars";
.preLanding {
    position: relative;

.banner{
    position: absolute;
    width: 100%;
    height: 92vh;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(89.71deg, rgba(61, 169, 252, 0.87) 36.5%, rgba(61, 169, 252, 0) 77.02%);
    mix-blend-mode: normal;
    padding: 50px 5.75%;

    *{
        color: $secondary-color;
        font-family: Muli;
        font-style: italic;
    }

    h1{
        margin-top: 5%;
        font-weight: bold;
        font-size: 50px;
        margin-bottom: 0;
    }

    p{
        margin-top: -10px;
        font-weight: 200;
        font-size: 16px;
        line-height: 31px;
        font-weight: lighter;
    }

    h5{
        margin-top: 35px;
        font-weight: 300;
        line-height: 25px;
        width: 35%;
    }

    button {
        background: none;
        margin-left: 27%;
    }

    .location {
        margin-top: 10%;
    }
}

.two{
    background: linear-gradient(360deg, rgba(61, 169, 252, 0.88) 22.53%, rgba(61, 169, 252, 0) 80.88%);
    @include center();
    flex-direction: column;
    p{
        margin-top: 65vh;
        width: 25vw;
        min-width: 350px;
    }

    button{
        margin: 0;
        transform: rotate(90deg);
    }
}

.Landing {
    h4{
        font-weight: bold;
        color: $thrid-color;
        margin-bottom: 0;
    }

    .description{
        @include center();
        background: rgba(235, 240, 240, 0.6);
        padding: 60px 0;
        margin-bottom: 40px;
    
        h6{
            width: 60%;
            color: $primary-color;
            text-align: center;
            strong{
                color: $primary-color;
            }
        }
    }

    .advices{
        padding: 0 10%;
        margin-top: 50px;
        .advice {
            margin-bottom: 50px;
            h5 {
                color: $primary-color;
            }

            ul {
                li {
                    margin-bottom: 15px;

                    &::before {
                        content: "\2022";
                        color: $primary-color;
                        font-weight: bold;
                        display: inline-block; 
                        width: 1em;
                        margin-left: -1.5em;
                    }
                }
            }
        }
    }

    .beneficios {
        padding: 50px;

        h6 {
            color: $primary-color;
            text-align: center;
            font-weight: bold;
        }
    }
    
    .stages{
        padding: 20px 50px;
        .col > div{
            margin-bottom: 40px;
            h6 {
                color: $thrid-color;
                font-weight: bold;
            }

            h5{
                color: $primary-color;
            }
        }

        .images {
            flex-direction: column;
            flex-wrap: nowrap;
            img{
                display: flex;
                margin: -10px 0;
                width: 32%;

            }

            .uno{
                margin-left: 70%;
            }

            .tres{
                margin-left: 70%;
            }
        }
    }

    .call-to-action{
        background-color: $primary-color;
        flex-direction: column;
        padding: 50px 0;
        @include center();
        *{color: $secondary-color;}

        h4 {
            margin-bottom: 30px;
        }

        p {
            width: 60%;
            margin-bottom: 30px;
        }

        button {
            margin-bottom: 20px;
        }
    }

    .stakeholders{
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        img {
            margin: 0 20px;
        }
    }
}
}