  .map-container{
    position: relative;
    height: 92vh;
    
    .control-panel {
      margin: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #fff;
      padding: 20px 50px;
      border-radius: 20px 20px 0 0;
      justify-content: space-between;

      .inpts{
        margin: 0;
        .inpt{
          margin: 0;
          margin-right: 20px;
        }
      }

      .days-range{
        width: 30%;
        position: relative;

        &:after {
          position: absolute;
          top: 1em;
          right: 0;
          top: 20px;
          left: 25%;
          opacity: 0;
          content: attr(data-value);
        }

        &:hover {
          &:after{ opacity: .5; }
        }
        
        input[type=range] {
          -webkit-appearance: none;
          width: 100%;

          &:hover{
            & #day{
              display: none;
            }
          }
          
          &:focus {
            outline: none;
          }

          &::-webkit-slider-runnable-track {
            height: 5px;
            cursor: pointer;
            transition: 0.2s;
            background: #3DA9FC;
            border-radius: 5px;
          }

          &::-webkit-slider-thumb {
            height: 15px;
            width: 15px;
            border-radius: 25px;
            background: #094067;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -5px;
          }
        }
      }
    }
  }