@import "../utils/vars";

.Profile {
    margin: 0;
    height: 90vh;
    .grap{
        height: 100%;
        .aside{
            padding: 20px 0;
            @include boxShadow();
            @include center();
            border-radius: 0;
            height: 100%;
            flex-direction: column;
            text-align: left;
            justify-content: flex-start;
            & > *{
                width: 80%;
            }
            .row{
                justify-content: space-between;
                *{
                    margin: 0;
                }

                h6{
                    color: $thrid-color;
                    font-weight: bold;
                    font-style: normal;
                }
            }
            
            .age{
                margin-bottom: 5px;
            }

            p strong{
                color: $thrid-color;
            }

            .actions{
                .action p{
                    color: $thrid-color;
                    font-weight: bold;
                }
            }
        }
    }
}