@import "../utils/vars";

.Testimonies {
    @include center();
    flex-direction: column;
    margin-bottom: 50px;

    .testimonie {
        width: 70%;

        img{ width: 47%; }
        
        .items{
            margin-left: 20px;
            width: 47%;
            text-align: left;

            h4 {
                color: $primary-color;
                margin-bottom: 5px;
            }

            .des{
                font-weight: lighter;
                margin-bottom: 20px;
            }

            p{
                font-family: 'Poppins';
                color: $thrid-color;
            }
        }
    }

    .tick-marks{
        margin-top: 28px;
        width: 98px;
        justify-content: space-between;
        @include row();
        
        div {
            cursor: pointer;
            background-color: $primary-color;
            border-radius: 50%;
            content: "";
            height: 9px;
            width: 9px;
            margin-right: 10px;
        }
        .selected {
            background-color: $thrid-color;
        }
    }


}