$primary-color: #3DA9FC;
$secondary-color: #fff;
$thrid-color: #094067;
$fourth-color: #5F6C7B;
 
$base-font-size: 21.3;

@mixin font-size ($param){
    //((Xpt*Kpx) / Bpx) * 1em --> ((points to pixels) divided by base) * type
    font-size: (($param * 1.3333) / $base-font-size) * 1em;
};

@mixin width($param, $param2){
    width: $param / $param2 * 100%;
}

@mixin height($param, $param2){
    height: $param / $param2 * 100%;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin colums ($amount, $space) {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .colum {
        width: (100% / $amount) - $space;
    }
}

@mixin colum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin scrollBar {
    overflow-y: hidden;
    &:hover {
        overflow-y: auto
    }

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        background: #fff;
    }

    &::-webkit-scrollbar-thumb {
        background: #3da9fcaf;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #3da9fc;
    }
}

@mixin boxShadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}