@import '../utils/vars';

.post{
    @include box-shadow();
    background-color: white;
    width: 48.5%;
    border-radius: 20px;
    padding: 30px 20px;
    margin-bottom: 20px;
    @include colum();
    align-items: flex-end;

    *{
        font-style: italic;
        @include font-size(20);
        text-align: left;
    }

    &>*:not(button){width: 100%;}

    .title{
        margin-bottom: 20px;
        .name{font-weight: bolder;}
    }

    &>p{
        line-height: 25px;
        height: 6em;
        margin-bottom: 20px;
        font-style: normal;
        overflow: hidden;
    }

    &>.row p {
        color: $hard-blue;
        font-weight: 200;
    }
}

body{
    #if_log{
        z-index: 1;
    }

    background-color: $soft-gray;
    &>*:not(nav){padding: 0 30px;}
    .other_actions{
        margin: 30px 0;
        @include colums(2,2);
        section{
            display: flex;
            flex-direction: column;
            height: 250px;
            padding: 20px 30px;
            border-radius: 20px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            align-items: flex-end;
            justify-content: center;

            h5{
                color: white;
                font-weight: lighter;
                margin-bottom: 20px;
            }

            button{
                background-color: white;
                color: $hard-blue;
            }
        }
        section:first-child{
            background-image: url('../images/community/foro_exp.svg');
        }
        section:last-child{
            background-image: url('../images/community/reg_back.svg');
        }
    }

    .input_opinion{
        margin: 60px 0;
        h5{width: 30%;}
        
        section{
            width: 65%;
            height: 100px;
            position: relative;

            textarea{
                height: 100%;
            }
            button:not(.upload_file){
                position: absolute;
                bottom: -20px;
                right: 50px;
                background-color: #EEEEEE;
                color: $hard-blue;
            }
            .upload_file{
                position: absolute;
                left: 50px;
                bottom: -20px;
            }
        }
    }

    hr{
        margin: 0 30px;
        width: 96%;
    }

    .container{
        margin: 60px 0;
        align-items: flex-start;
        height: 700px;

        .ranking{
            background-color: $hard-blue;
            border-radius: 10px;
            padding: 20px;
            width: 33%;
            height: 100%;

            *{font-style: italic; color: white;}
            p{@include font-size(20)}

            &>p, &>h5{margin-bottom: 20px;}

            &>.row p{width: 33%; text-align: center;}

            .volunteers{
                margin-top: 10px;
                .volunteer{
                    width: 100%;
                    margin: 15px 0;
                    &>*{ @include center(); width: 33%;}
                    .row{
                        justify-content: space-between;
                        padding: 0 20px;
                    }
                    .name{
                        font-weight: 100;
                    }
                }
            }
        }

        .posts{
            width: 65%;
            @include center();
            flex-direction: column;

            .posts-wrapper{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .post{
                    &>.row{
                        .reactions{
                            span{
                                content: '';
                                @include center();
                                width: 25px;
                                height: 25px;
                                margin-left: -12px;
                                border-radius: 50%;
                                color: white;
                                @include font-size(13);
                            }

                            :first-child{margin: 0;}
                        }
                    }

                    button{
                        margin-top: 20px;
                        padding: 5px 20px;
                        font-weight: normal;
                        min-width: fit-content;
                    }
                }
            }

            .pags{
                width: fit-content;
                margin-top: 30px;

                .row button{
                    border: 2px solid $blue;
                    color: $hard-blue;
                    background: none;
                    min-width: fit-content;
                    padding: 5px 10px;
                    margin-right: 10px;
                }

                &>button{
                    min-width: fit-content;
                    padding: 5px 20px;   
                    border: 2px solid $blue;
                }
            }
        }
    }
}

.foro_exp{
    .other_actions section{
        width: 100%;
        background-image: url('../images/community/foro_bas.svg') !important;
        h5{
            padding-right: 20%;
        }
    }

    .input_opinion {
        align-items: center;

        h5{
            margin: 20px 0;
        }

        section{
            height: fit-content;
            p{
                margin-bottom: 10px;
                font-weight: bold;
                color: $hard-blue;
            }

            .btns{
                position: absolute;
                bottom: -25px;
                left: 50px;
                background-color: white;
                border-radius: 10px;
                border: 2px solid $soft-blue;
                padding: 2px;

                button{
                    border: none;
                    position: relative;
                    bottom: unset;
                    left: unset;
                    right: unset;
                    padding: 12px 18px;
                }
            }
        }
    }

    .container .posts {
        width: 100%;

        .posts-wrapper .post{
            width: 32%;
            h6{
                @include font-size(25);
                margin-bottom: 20px;
            }
            .topics{
                @include row();
                flex-wrap: wrap;
                justify-content: left;

                p{
                    background-color: #FADC3A;
                    color: white;
                    padding: 5px;
                    margin-right: 5px;
                    border-radius: 5px;
                }
            }
        }
    }
}

#see_interactions{
    position: fixed;
    z-index: 1;
    top: 0;
    background-color:rgba(255, 255, 255, 0.9);
    padding: 30px 60px;
    backdrop-filter: blur(5px);
    height: 100vh;
    overflow-y: scroll;
    display: none;

    .cont{
        @include colum();
        align-items: flex-end;
        border-radius: 20px;
        background-color: white;
        @include box-shadow();
        padding: 60px;
        position: relative;

        .close{
            position: absolute;
            right: 50px;
            top: 30px;
        }

        &>.post{
            padding-left: 0;
            padding-right: 0;
        }

        .post{
            width: 100%;
            box-shadow: none;
            .title .row{
                .img{
                    @include center();
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    background-color: $soft-blue;
                    color: white;
                    font-weight: 800;
                    margin-right: 15px;
                }
            }

            &>p{
                height: unset;
            }

            &>.reactions {
                width: 100%;
                &>p{
                    color: $hard-blue;
                    font-weight: bold;
                }

                .row{
                    p{
                        @include center();
                        margin-left: 20px;
                        img{ height: 1.2em; margin-right: 5px;}
                    }
                }
            }
        }

        &>h6{
            align-self: flex-start;
        }

        .commets{
            @include center();
            flex-direction: column;
            align-items: flex-end;
            padding: 30px;
            .post{
                background-color: $soft-gray;
                padding-top: 15px;
                padding-bottom: 15px;

                .title{margin-bottom: 0;}

                .likes_count{opacity: 0;}

                &>p{
                    color: $hard-blue;
                    padding-left: 45px;
                    margin-bottom: 5px;
                }

                .reactions *{color: $gray;}
            }
        }
    }
}