@import '../utils/vars';

body{
    background-color: $soft-gray;
    min-width: 949px;
}

#description{
    background-image: url('../images/datos/descrp0.svg');
    background-position: center;
    background-size: cover;
    *{color: white;}
    margin: 20px 30px;
    padding: 20px;
    border-radius: 10px;
    .row{
        p{margin-top: 10px; width: 80%;}
        a {
            width: 25%;
            button{
                width: 100%;
                color: $hard-blue;
                background-color: white;

            }
        }
    }
}

.sub_nav{
    margin: 0 15% 30px;
    button{
        color: $hard-blue;
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .selected{
        color: white;
        background-color: $hard-blue;
    }
}

.dash{
    display: none;
}

.visible{
    display: block;
}

.cont{
    padding: 10px 20px;
    @include box-shadow();
    background-color: white;
    border-radius: 20px;
    @include center();
}

#dashboard{
    height: fit-content;
    margin: 0 30px 30px;

    .row{
        height: 100%;
        justify-content: space-between;
        align-items: flex-start;

        .med {
            width: 67%;
            height: 100%;
            padding: 100px 20px 40px;
            flex-direction: column;
            position: relative;
            h5{
                position: absolute;
                top: 30px;
                width: 70%;
            }

            p{
                @include font-size(20);
                margin: 12px 0;
            }
            
            #mediciones{
                @include center();
                width: 75%;
                height: 100%;
                padding: 0;
            }
        }

        section{
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;

            .vin {
                width: 100%;
                flex-direction: column;
                position: relative;
                padding-top: 40px;
                margin-bottom: 5px;
                h6{
                    position: absolute;
                    top: 10px;
                    width: 90%;
                    @include font-size(22);
                }
                #vinculados{
                    width: 100%;
                    padding: 0;
                }
            }

            .kmss {
                width: 100%;
                flex-direction: column;
                position: relative;
                padding-top: 40px;
                margin-bottom: 5px;
                h6{
                    position: absolute;
                    top: 10px;
                    width: 90%;
                    @include font-size(22);
                }
                #kms{
                    width: 100%;
                    padding: 0;
                }
            }

            #redes_cont{
                flex-direction: column;
                h6{@include font-size(22)}
                .redes{
                    @include row();
                    width: 100%;
                    margin-top: 20px;
                    .red{
                        width: 23%;
                        img{width: 40px;}
                    }
                }
            }
        }
    }

    .descri{
        margin-top: 30px;
        width: 100%;
        padding: 30px 20px;
        flex-direction: column;

        h5{
            width: 70%;
            margin-bottom: 10px;
        }
        
        #describers{
            @include center();
            width: 100%;
            height: 100%;
            padding: 0;
        }
    }

}

#leyen{
    justify-self: flex-start;
    align-self: flex-start;
    margin-left: 40px;
    margin-bottom: 10px;
    @include row();
    p{
        @include font-size(20);
        margin: 0 20px 0 10px;
        color: $hard-blue;
    }
    div{
        width: 15px;
        height: 15px;
        content: '';
    }
}

.dash:not(#dashboard){
    margin: 0 30px 30px;
}

#mapa{
    position: relative;

    &>.row{
        &>*{
            width: 30%;
        }

        .dos{
            .tits{
                div{@include font-size(18);}
            }
            .marks{padding: 0 4px;}
        }

        select{
            padding-left: 0;
            margin-bottom: 0;
        }
    }

    .tils{
        margin-bottom: 20px;
        p{
            margin: 0;
            color: $hard-blue;
            font-weight: bolder;
        }
    }

    #map{
        width: 100%;
    }

    &>p{
        margin: 20px 0;
        text-align: center;
        @include font-size(20);
    }

    .gen_rec{
        bottom: 20px;
        .row img{
            margin: 0;
        }
        span{padding: 0;}
        #date_today{opacity: 0; margin: 0;}
    }
}

#reporte{
    .cont{
        @include colum();
        padding: 30px 20px;
        &>p{margin: 20px 0;}

        .colums{
            @include colums(4,2);
            align-items: flex-start;
            margin-top: 30px;
            margin-bottom: 30px;
            
            section{
                @include box-shadow();
                padding: 20px;
                border-radius: 20px;
                height: 100%;
                min-height: 250px;
                :first-child{
                    font-weight: bolder;
                    color: $hard-blue;
                    margin-bottom: 10px;
                }
                .desc{
                    @include font-size(20);
                    margin-bottom: 15px;
                }
                .dos{
                    font-weight: bolder;
                }
            }
        }

        #boxplotica{
            width: 70%;
            height: 300px;
        }

        #leyen{
            margin-top: 20px;
            align-self: center;
        }
    }
}

////////////
@media screen and (max-width: 950px) {
    #description .row{
        flex-direction: row;
        justify-content: space-between;

        div p {
            width: 90%;
        }

        button{
            min-width: 180px !important;
        }
    }

    .sub_nav{
        flex-direction: row !important;
        justify-content: space-between !important;
        margin: 20px 30px;
    }

    .dash {
        .row{
            &>*{
                width: 100% !important;
                margin-bottom: 20px;
            }
    
            section{
                margin-bottom: 0;
                &>*{
                    margin-bottom: 20px !important;
                }
                #redes_cont{
                    margin-bottom: 0 !important;
                }
            }
    
    
            ///////
            #filterCont{
                margin-bottom: 20px;
                width: 50% !important;
                align-self: flex-start;
            }
    
            .slider{
                margin-bottom: 35px;
            }
    
        }
        .tils{display: none;}
        .gen_rec{
            #x_close_esp_Rec{
                width: 30px !important;
                align-self: flex-end;
                margin-top: -15px !important;
            }

            .close{
                width: 30px !important;
                align-self: flex-end;
            }
        }

        .colums{
            flex-wrap: wrap;
            justify-content: center !important;

            section{
                min-width: 250px;
                margin: 20px;
            }
        }
    }
}