@import '../utils/vars';

body{
    background-color: $soft-gray;
}

#description{
    background-image: url('../images/datos/descrp0.svg');
    background-position: center;
    background-size: cover;
    *{color: white;}
    margin: 20px 30px;
    padding: 20px;
    border-radius: 10px;
}

.sub_nav{
    margin: 0 15% 30px;
    button{
        color: $hard-blue;
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .selected{
        color: white;
        background-color: $hard-blue;
    }
}

#dashboard{
    height: fit-content;
    margin: 0 30px 30px;

    .row{
        height: 100%;
        justify-content: space-between;
        align-items: flex-start;

        .med, section>div{
            padding: 10px 20px;
            @include box-shadow();
            background-color: white;
            border-radius: 20px;
            @include center();
        }

        .med {
            width: 67%;
            height: 100%;
            padding: 100px 20px 40px;
            @include center();
            flex-direction: column;
            position: relative;
            h5{
                position: absolute;
                top: 30px;
                width: 70%;
            }

            p{
                @include font-size(20);
                margin: 12px 0;
            }
            
            #mediciones{
                @include center();
                width: 75%;
                height: 100%;
                padding: 0;
            }
        }

        section{
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;

            .vin {
                width: 100%;
                @include center();
                flex-direction: column;
                position: relative;
                padding-top: 40px;
                margin-bottom: 5px;
                h6{
                    position: absolute;
                    top: 10px;
                    width: 90%;
                    @include font-size(22);
                }
                #vinculados{
                    width: 100%;
                    padding: 0;
                }
            }

            .kmss {
                width: 100%;
                @include center();
                flex-direction: column;
                position: relative;
                padding-top: 40px;
                margin-bottom: 5px;
                h6{
                    position: absolute;
                    top: 10px;
                    width: 90%;
                    @include font-size(22);
                }
                #kms{
                    width: 100%;
                    padding: 0;
                }
            }

            #redes_cont{
                flex-direction: column;
                h6{@include font-size(22)}
                .redes{
                    @include row();
                    width: 100%;
                    margin-top: 20px;
                    .red{
                        width: 23%;
                        img{width: 40px;}
                    }
                }
            }
        }
    }

    .descri{
        margin-top: 30px;
        width: 100%;
        padding: 30px 20px;
        @include box-shadow();
        background-color: white;
        border-radius: 20px;
        @include center();
        flex-direction: column;

        h5{
            width: 70%;
            margin-bottom: 10px;
        }
        
        #describers{
            @include center();
            width: 100%;
            height: 100%;
            padding: 0;
        }
    }

    #leyen{
        justify-self: flex-start;
        align-self: flex-start;
        margin-left: 40px;
        margin-bottom: 10px;
        @include row();
        p{
            @include font-size(20);
            margin: 0 20px 0 10px;
            color: $hard-blue;
        }
        div{
            width: 15px;
            height: 15px;
            content: '';
        }
    }
}