body {
  background-color: #F3F6F6;
}

#description {
  background-image: url("../images/datos/descrp0.svg");
  background-position: center;
  background-size: cover;
  margin: 20px 30px;
  padding: 20px;
  border-radius: 10px;
}

#description * {
  color: white;
}

#description .row p {
  margin-top: 10px;
  width: 80%;
}

#description .row a {
  width: 25%;
}

#description .row a button {
  width: 100%;
  color: #094067;
  background-color: white;
}

.sub_nav {
  margin: 0 15% 30px;
}

.sub_nav button {
  color: #094067;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sub_nav .selected {
  color: white;
  background-color: #094067;
}

.dash {
  display: none;
}

.visible {
  display: block;
}

.cont {
  padding: 10px 20px;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cont:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#dashboard {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 30px 30px;
}

#dashboard .row {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#dashboard .row .med {
  width: 67%;
  height: 100%;
  padding: 100px 20px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#dashboard .row .med h5 {
  position: absolute;
  top: 30px;
  width: 70%;
}

#dashboard .row .med p {
  font-size: 0.92913em;
  margin: 12px 0;
}

#dashboard .row .med #mediciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 75%;
  height: 100%;
  padding: 0;
}

#dashboard .row section {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#dashboard .row section .vin {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-top: 40px;
  margin-bottom: 5px;
}

#dashboard .row section .vin h6 {
  position: absolute;
  top: 10px;
  width: 90%;
  font-size: 1.02204em;
}

#dashboard .row section .vin #vinculados {
  width: 100%;
  padding: 0;
}

#dashboard .row section .kmss {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-top: 40px;
  margin-bottom: 5px;
}

#dashboard .row section .kmss h6 {
  position: absolute;
  top: 10px;
  width: 90%;
  font-size: 1.02204em;
}

#dashboard .row section .kmss #kms {
  width: 100%;
  padding: 0;
}

#dashboard .row section #redes_cont {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#dashboard .row section #redes_cont h6 {
  font-size: 1.02204em;
}

#dashboard .row section #redes_cont .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 20px;
}

#dashboard .row section #redes_cont .redes .red {
  width: 23%;
}

#dashboard .row section #redes_cont .redes .red img {
  width: 40px;
}

#dashboard .descri {
  margin-top: 30px;
  width: 100%;
  padding: 30px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#dashboard .descri h5 {
  width: 70%;
  margin-bottom: 10px;
}

#dashboard .descri #describers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0;
}

#leyen {
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 40px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#leyen p {
  font-size: 0.92913em;
  margin: 0 20px 0 10px;
  color: #094067;
}

#leyen div {
  width: 15px;
  height: 15px;
  content: '';
}

.dash:not(#dashboard) {
  margin: 0 30px 30px;
}

#mapa {
  position: relative;
}

#mapa > .row > * {
  width: 30%;
}

#mapa > .row .dos .tits div {
  font-size: 0.83622em;
}

#mapa > .row .dos .marks {
  padding: 0 4px;
}

#mapa > .row select {
  padding-left: 0;
  margin-bottom: 0;
}

#mapa .tils {
  margin-bottom: 20px;
}

#mapa .tils p {
  margin: 0;
  color: #094067;
  font-weight: bolder;
}

#mapa #map {
  width: 100%;
}

#mapa > p {
  margin: 20px 0;
  text-align: center;
  font-size: 0.92913em;
}

#mapa .gen_rec {
  bottom: 20px;
}

#mapa .gen_rec .row img {
  margin: 0;
}

#mapa .gen_rec span {
  padding: 0;
}

#mapa .gen_rec #date_today {
  opacity: 0;
  margin: 0;
}

#reporte .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
}

#reporte .cont > p {
  margin: 20px 0;
}

#reporte .cont .colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 30px;
}

#reporte .cont .colums section {
  width: 23%;
}

#reporte .cont .colums section {
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 20px;
  border-radius: 20px;
  height: 100%;
}

#reporte .cont .colums section:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#reporte .cont .colums section :first-child {
  font-weight: bolder;
  color: #094067;
  margin-bottom: 10px;
}

#reporte .cont .colums section .desc {
  font-size: 0.92913em;
  margin-bottom: 15px;
}

#reporte .cont .colums section .dos {
  font-weight: bolder;
}

#reporte .cont #boxplotica {
  width: 70%;
  height: 300px;
}

#reporte .cont #leyen {
  margin-top: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=datos.css.map */