@import '../utils/vars';

body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.mapboxgl-popup-content{
    padding: 0;
    width: 200px;
    border-radius: 10px;
    @include box-shadow();
    *{
        font-family: 'Muli', sans-serif;
        @include font-size(22);
    }

    .s_rec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .row_color{
            width: 80%;
            height: 12px;
            border-radius: 0 0 12px 0;
            margin-bottom: 10px;
        }

        .title{
            margin: 0 20px;
            align-self: flex-end;
        }

        p{
            margin: 5px 20px 10px;
            color: $gray;
        }
    }
}

.leyenda{
    //background-color: rgba($color: #fff, $alpha: 0.7);
    padding: 10px 0 10px 10px;
    margin-bottom: 20px;
    .row{
        @include row();
        justify-content: flex-end;
        div{
            width: 40px;
            height: 10px;
            margin-left: 10px;
            @include box-shadow();
        }
        p{
            font-family: 'Muli', sans-serif;
            @include font-size(22);
            margin: 5px 0;
            font-weight: bold;
            color: $gray;
        }
    }
}

.mapboxgl-ctrl-group{
    box-shadow: none !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25) !important;
    border: none;
    border-radius: 20px;
    *{
        border: none !important;
        &:hover{
            opacity: .5;
        }
    }
}
.mapboxgl-ctrl-geocoder{
    border-radius: 10px !important;
}
.mapboxgl-ctrl-attrib{display: none;}
.mapboxgl-control-container{
    &>*{
        padding: 20px;
    }
}