body nav {
  position: relative;
  z-index: 3;
  min-width: 949px;
}

aside {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
}

aside .perfil {
  margin-bottom: 15px;
}

aside .perfil #logout {
  margin-bottom: 20px;
  cursor: pointer;
}

aside .perfil img {
  width: 120px;
}

aside .perfil p {
  font-size: 0.92913em;
}

aside .sub_nav {
  width: 100%;
  margin-bottom: 5px;
}

aside .sub_nav div {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 60px;
  margin-bottom: 5px;
}

aside .sub_nav div p {
  margin-left: 20px;
  color: #094067;
  text-align: left;
}

aside .sub_nav .selected {
  background-color: #66B7F5;
}

aside .sub_nav .selected img {
  -webkit-filter: invert(1) sepia(1) saturate(0) hue-rotate(175deg);
          filter: invert(1) sepia(1) saturate(0) hue-rotate(175deg);
}

aside .sub_nav .selected p {
  color: white;
}

aside .msj {
  margin: 0 60px;
  background-image: url("../images/perfil/msj.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

aside .msj * {
  color: white;
}

aside .msj h5 {
  margin: 20px 0;
}

aside .msj p {
  font-size: 0.92913em;
  padding: 0 15px;
}

.dash.visible {
  display: block;
}

.dash {
  width: 75%;
  padding: 20px 60px;
  background-color: #F3F6F6;
  display: none;
  margin-left: 25%;
}

.dash .description {
  background-image: url("../images/perfil/desc.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.dash .description * {
  color: white;
}

.dash .description p {
  font-size: 0.92913em;
  margin-top: 10px;
  width: 80%;
}

.dash .description img {
  position: absolute;
  bottom: 0;
  right: 30px;
  width: 100px;
}

.dash > p {
  color: #094067;
  font-weight: bolder;
  margin-top: 10px;
}

#datos .description img {
  width: 160px;
}

#datos .sub_sub_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 20%;
}

#datos .sub_sub_nav button {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: normal;
  background-color: white;
  color: #094067;
}

#datos .sub_sub_nav .selected {
  background-color: #094067;
  color: white;
}

#datos .cont {
  padding: 30px;
  /*
        .wrap{
            display: flex;
            flex-wrap: wrap;
            position: relative;

            div{
                width: 47%;
                height: 200px;
                @include center();
                flex-direction: column;

                img{
                    width: 90%;
                }

                p{
                    font-weight: bolder;
                    color: $hard-blue;
                    margin: 0 5px 5px 0;
                    @include font-size(20);
                }
            }
        }*/
}

#datos .cont .grafs {
  width: 70%;
  padding-right: 40px;
}

#datos .cont .grafs .bars {
  width: 100%;
}

#datos .cont .grafs .bars .row {
  margin-bottom: 60px;
}

#datos .cont .grafs .bars .row p {
  width: 15%;
  color: #094067;
  text-align: left;
}

#datos .cont .grafs .bars .row input[type=range] {
  width: 80%;
}

#datos .cont .grafs .bars .row input[type=range]::-webkit-slider-runnable-track {
  background: -webkit-gradient(linear, left top, right top, from(#02b65d), color-stop(20%, #94cc8a), color-stop(50%, #d1c85a), color-stop(80%, #ffaa58), to(#ff514d));
  background: linear-gradient(90deg, #02b65d 0%, #94cc8a 20%, #d1c85a 50%, #ffaa58 80%, #ff514d 100%);
  height: 10px;
}

#datos .cont .grafs .bars .row input[type=range]::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  margin-top: -3px;
}

#datos .cont .grafs .bars :nth-child(4) {
  margin-bottom: 0;
}

#datos .cont .grafs .bars button {
  margin-top: 30px;
  font-size: 0.83622em;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: normal;
}

#datos .cont .grafs .graf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#datos .cont .grafs .graf h5 {
  width: 100%;
  margin-bottom: 10px;
}

#datos .cont .grafs .graf div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0;
}

#datos .cont .colum {
  width: 30%;
}

#datos .cont .colum p {
  text-align: left;
  width: 100%;
  font-size: 0.92913em;
  margin-bottom: 10px;
}

#datos .cont .colum .row {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

#datos .cont .colum .row div {
  display: none;
}

#datos .cont .colum .row p {
  margin: 0;
}

#datos .cont .colum :first-child, #datos .cont .colum .titl {
  font-weight: bold;
  color: #094067;
}

#datos .cont .sleyen .row div {
  display: block;
  content: '';
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

#recorridos {
  position: relative;
}

#recorridos .description img {
  width: 180px;
  bottom: -20px;
}

#recorridos .recorridos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

#recorridos .recorridos .recorrido {
  width: 32%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#recorridos .recorridos .recorrido:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#recorridos .recorridos .recorrido .mark {
  content: '';
  height: 10px;
  width: 80%;
  border-radius: 0 0 20px 0;
  margin-bottom: 10px;
}

#recorridos .recorridos .recorrido p {
  font-size: 0.83622em;
  padding: 0 10px;
}

#recorridos .recorridos .recorrido .dir {
  color: #094067;
}

#recorridos .recorridos .recorrido .ica {
  margin-bottom: 10px;
}

#recorridos .recorridos .recorrido:hover {
  background-color: white;
}

#recorridos .recorridos .recorrido.selected {
  background-color: white;
}

#recorridos #map {
  margin-top: 20px;
  border-radius: 20px;
  width: 100%;
  height: 70vh;
}

#recorridos #map .mapboxgl-ctrl-group {
  width: 40px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25) !important;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25) !important;
  border: none;
  border-radius: 20px;
}

#recorridos #map .mapboxgl-ctrl-group * {
  width: 40px;
}

#recorridos #map .mapboxgl-ctrl-group * {
  border: none !important;
}

#recorridos #map .mapboxgl-ctrl-group *:hover {
  opacity: .5;
}

#recorridos .recomendations {
  position: absolute;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  bottom: 30px;
  left: 70px;
  background-color: white;
  width: 280px;
  border-radius: 15px;
  padding-bottom: 10px;
}

#recorridos .recomendations:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#recorridos .recomendations *:not(.mark) {
  font-size: 0.92913em;
  padding: 0 20px;
  color: #575759;
}

#recorridos .recomendations .mark {
  width: 80%;
  height: 12px;
  border-radius: 0 0 12px 0;
  margin-bottom: 10px;
  background-color: #094067;
}

#recorridos .recomendations h6 {
  color: #094067 !important;
  margin-bottom: 10px;
}

#recorridos .recomendations ul {
  margin-top: 10px;
  list-style-position: inside;
  padding: 0;
}

#recorridos .recomendations ul li {
  margin: 10px 0;
}

#retos .tt {
  margin: 20px 0;
}

#retos .tt p {
  font-weight: bold;
  color: #094067;
}

#retos .last_retos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#retos .last_retos > .row {
  width: 32%;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  min-height: 180px;
}

#retos .last_retos > .row:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#retos .last_retos > .row > :first-child {
  width: 80px;
  margin-right: 15px;
}

#retos .last_retos > .row div {
  text-align: left;
}

#retos .last_retos > .row div p {
  text-align: left;
  font-size: 0.7433em;
  margin-bottom: 5px;
}

#retos .last_retos > .row div .title {
  color: #094067;
  font-weight: bolder;
}

#retos .last_retos > .row .check {
  position: absolute;
  width: 35px;
  top: -10px;
  right: -10px;
}

#retos .second {
  width: 100%;
}

#retos .second p {
  font-size: 0.92913em;
  color: #094067;
}

#retos .second .actual {
  width: 32%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #66B7F5;
}

#retos .second .actual * {
  color: white;
}

#retos .second .actual img {
  width: 110px;
  margin: 20px 0;
}

#retos .second .actual p {
  margin: 5px 0 20px;
}

#retos .second .actual button {
  background-color: white;
  color: #094067;
}

#retos .second .actual .aceptado {
  background-color: #66B7F5;
  color: white;
}

#retos .second .hist {
  width: 66%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#retos .second .hist h6 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 15px;
}

#retos .second .hist .row {
  margin-bottom: 15px;
}

#retos .second .hist .row img {
  width: 70px;
}

#retos .second .hist .row > p {
  text-align: left;
  padding-left: 20px;
  width: 50%;
}

#retos .second .hist .row div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#retos .second .hist .row div :first-child {
  font-weight: bold;
}

#retos .second .hist .row div :last-child {
  font-size: 0.83622em;
}

.cont {
  padding: 10px 20px;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cont:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.facebook {
  color: #3B5998;
}

.linkedin {
  color: #007BB6;
}

.google {
  color: #DD4B39;
}

.tweeter {
  color: #00ACED;
}
/*# sourceMappingURL=perfil.css.map */