@import '../utils/vars';

aside{
    overflow: hidden;
    @include center();
    flex-direction: column;
    width: 25%;
    padding: 95px 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    
    .perfil{
        margin-bottom: 20px;
        img{
            width: 120px;
        }
        p{
            @include font-size(20);
        }
    }

    .sub_nav{
        width: 100%;
        margin-bottom: 20px;
        div{
            cursor: pointer;
            @include row();
            justify-content: flex-start;
            padding: 10px 60px;
            margin-bottom: 5px;
            p{
                margin-left: 20px;
                color: $hard-blue;
            }
        }

        .selected{
            background-color: $soft-blue;
            img{
                filter: invert(1) sepia(1) saturate(0) hue-rotate(175deg);
            }
            p{color: white;}
        }
    }

    .msj{
        margin: 0 60px;
        background-image: url('../images/perfil/msj.svg');
        //background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;

        *{color: white;}

        h5{
            margin: 20px 0;
        }

        p{
            @include font-size(20);
            padding: 0 15px;
        }
    }
}

.dash.visible{
    display: block;
}

.dash{
    width: 75%;
    padding: 20px 60px;
    background-color: $soft-gray;
    display: none;
    margin-left: 25%;

    .description{
        background-image: url('../images/perfil/desc.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        border-radius: 20px;
        padding: 20px;
        position: relative;

        *{color: white;}
        p{
            @include font-size(20);
            margin-top: 10px;
            width: 80%;
        }

        img{
            position: absolute;
            bottom: 0;
            right: 30px;
            width: 100px;
        }
    }

    &>p{
        color: $hard-blue;
        font-weight: bolder;
        margin-top: 10px;
    }
}

#datos{
    .description img{ width: 160px;}   
}

#recorridos{
    position: relative;
    .description img{ width: 180px; bottom: -20px;}
    .recorridos {
        @include row();
        margin-top: 15px;
        
        .recorrido {
            width: 32%;
            border-radius: 10px;
            @include box-shadow();
            .mark{
                content: '';
                height: 10px;
                width: 80%;
                border-radius: 0 0 20px 0;
                margin-bottom: 10px;
            }
            p{
                @include font-size(18);
                padding: 0 10px;
            }
            .dir{
                color: $hard-blue;
            }
            .ica{
                margin-bottom: 10px;
            }
            &:hover{
                background-color: white;
            }
        }

        .recorrido.selected{background-color: white;}
    }
    #map{
        margin-top: 20px;
        border-radius: 20px;
        width: 100%;
        height: 70vh;

        .mapboxgl-ctrl-group{
            //button{width: 100% !important;}
            *{width: 40px;}
            width: 40px;
            box-shadow: none !important;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25) !important;
            border: none;
            border-radius: 20px;
            *{
                border: none !important;
                &:hover{
                    opacity: .5;
                }
            }
        }
    }

    .recomendations{
        position: absolute;
        @include box-shadow();
        bottom:30px;
        left: 70px;
        background-color: white;
        width: 280px;
        border-radius: 15px;
        padding-bottom: 10px;

        *:not(.mark){
            @include font-size(20);
            padding: 0 20px;
            color: $gray;
        }

        .mark{
            width: 80%;
            height: 12px;
            border-radius: 0 0 12px 0;
            margin-bottom: 10px;
            background-color: $hard-blue;
        }

        h6{
            color: $hard-blue !important;
            margin-bottom: 10px;
        }

        ul{
            margin-top: 10px;
            list-style-position: inside;
            padding: 0;
            li{
                margin: 10px 0;
            }
        }
    }
}
