@import '../utils/vars';

body nav {
    position: relative;
    z-index: 3;
}

aside{
    overflow: hidden;
    @include center();
    flex-direction: column;
    width: 25%;
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    
    .perfil{
        margin-bottom: 15px;
        #user_id{
            margin-bottom: 30px;
        }
        img{
            width: 120px;
        }
        p{
            @include font-size(20);
        }
    }

    .sub_nav{
        width: 100%;
        margin-bottom: 5px;
        div{
            cursor: pointer;
            @include row();
            justify-content: flex-start;
            padding: 10px 60px;
            margin-bottom: 5px;
            p{
                margin-left: 20px;
                color: $hard-blue;
            }
        }

        .selected{
            background-color: $soft-blue;
            img{
                filter: invert(1) sepia(1) saturate(0) hue-rotate(175deg);
            }
            p{color: white;}
        }
    }

    .msj{
        margin: 0 60px;
        background-image: url('../images/perfil/msj.svg');
        //background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;

        *{color: white;}

        h5{
            margin: 20px 0;
        }

        p{
            @include font-size(20);
            padding: 0 15px;
        }
    }
}

.dash.visible{
    display: block;
}

.dash{
    width: 75%;
    padding: 20px 60px;
    background-color: $soft-gray;
    display: none;
    margin-left: 25%;

    .description{
        background-image: url('../images/perfil/desc.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        border-radius: 20px;
        padding: 20px;
        position: relative;

        *{color: white;}
        p{
            @include font-size(20);
            margin-top: 10px;
            width: 80%;
        }

        img{
            position: absolute;
            bottom: 0;
            right: 30px;
            width: 100px;
        }
    }

    &>p{
        color: $hard-blue;
        font-weight: bolder;
        margin-top: 10px;
    }
}

#datos{
    .description img{ width: 160px;}

    .sub_sub_nav{
        @include row();
        margin: 20px 20%;
        button{
            padding-top: 5px;
            padding-bottom: 5px;
            font-weight: normal;
            background-color: white;
            color: $hard-blue;
        }

        .selected{
            background-color: $hard-blue;
            color: white;
        }
    }

    .cont{
        padding: 30px;
        /*
        .wrap{
            display: flex;
            flex-wrap: wrap;
            position: relative;

            div{
                width: 47%;
                height: 200px;
                @include center();
                flex-direction: column;

                img{
                    width: 90%;
                }

                p{
                    font-weight: bolder;
                    color: $hard-blue;
                    margin: 0 5px 5px 0;
                    @include font-size(20);
                }
            }
        }*/
        .grafs{
            width: 70%;
            padding-right: 40px;
            .bars{
                width: 100%;
                //text-align: left;
                .row{
                    margin-bottom: 60px;
                    p{
                        width: 15%;
                        color: $hard-blue;
                        text-align: left;
                    }
                    input[type=range] {
                        width: 80%;
                        &::-webkit-slider-runnable-track {
                            background: linear-gradient(90deg, rgba(2,182,93,1) 0%, rgba(148,204,138,1) 20%, rgba(209,200,90,1) 50%, rgba(255,170,88,1) 80%, rgba(255,81,77,1) 100%);
                            height: 10px;
                        }
    
                        &::-webkit-slider-thumb {
                            height: 18px;
                            width: 18px;
                            margin-top: -3px;
                        }
                    }
                }
    
                :nth-child(4){
                    margin-bottom: 0;
                }
    
                button{
                    margin-top: 30px;
                    @include font-size(18);
                    padding-top: 5px;
                    padding-bottom: 5px;
                    font-weight: normal;
                }
            }
    
            .graf{
                @include center();
                flex-direction: column;
                width: 100%;
        
                h5{
                    width: 100%;
                    margin-bottom: 10px;
                }
                
                div{
                    @include center();
                    width: 100%;
                    height: 100%;
                    padding: 0;
                }
            }
        }

        .colum{
            width: 30%;
            p{
                text-align: left;
                width: 100%;
                @include font-size(20);
                margin-bottom: 10px;
            }
            .row{
                justify-content: flex-start;
                width: 100%;
                margin-bottom: 10px;
                div{
                    display: none;
                }
                p{margin: 0;}
            }
            
            :first-child, .titl{
                font-weight: bold;
                color: $hard-blue;
            }
        }

        .sleyen{
            .row{
                div{
                    display: block;
                    content: '';
                    margin-right: 10px;
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}

#recorridos{
    position: relative;
    .description img{ width: 180px; bottom: -20px;}
    .recorridos {
        @include row();
        margin-top: 15px;
        
        .recorrido {
            width: 32%;
            border-radius: 10px;
            @include box-shadow();
            .mark{
                content: '';
                height: 10px;
                width: 80%;
                border-radius: 0 0 20px 0;
                margin-bottom: 10px;
            }
            p{
                @include font-size(18);
                padding: 0 10px;
            }
            .dir{
                color: $hard-blue;
            }
            .ica{
                margin-bottom: 10px;
            }
            &:hover{
                background-color: white;
            }
        }

        .recorrido.selected{background-color: white;}
    }
    #map{
        margin-top: 20px;
        border-radius: 20px;
        width: 100%;
        height: 70vh;

        .mapboxgl-ctrl-group{
            //button{width: 100% !important;}
            *{width: 40px;}
            width: 40px;
            box-shadow: none !important;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25) !important;
            border: none;
            border-radius: 20px;
            *{
                border: none !important;
                &:hover{
                    opacity: .5;
                }
            }
        }
    }

    .recomendations{
        position: absolute;
        @include box-shadow();
        bottom:30px;
        left: 70px;
        background-color: white;
        width: 280px;
        border-radius: 15px;
        padding-bottom: 10px;

        *:not(.mark){
            @include font-size(20);
            padding: 0 20px;
            color: $gray;
        }

        .mark{
            width: 80%;
            height: 12px;
            border-radius: 0 0 12px 0;
            margin-bottom: 10px;
            background-color: $hard-blue;
        }

        h6{
            color: $hard-blue !important;
            margin-bottom: 10px;
        }

        ul{
            margin-top: 10px;
            list-style-position: inside;
            padding: 0;
            li{
                margin: 10px 0;
            }
        }
    }
}

#retos{

    .tt{
        margin: 20px 0;
        p{
            font-weight: bold;
            color: $hard-blue;
        }
    }

    .last_retos{
        @include row();
        margin: 20px 0;
        align-items: flex-start;

        &>.row{
            width: 32%;
            padding: 10px 20px;
            @include box-shadow();
            background-color: white;
            border-radius: 20px;
            @include center();
            position: relative;
            min-height: 180px;

            &>:first-child{
                width: 80px;
                margin-right: 15px;
            }

            div{
                text-align: left;

                p{
                    text-align: left;
                    @include font-size(16);
                    margin-bottom: 5px;
                }

                .title{
                    color: $hard-blue;
                    font-weight: bolder;
                }
            }

            

            .check{
                position: absolute;
                width: 35px;
                top: -10px;
                right: -10px;
            }
        }
    }

    .second{
        width: 100%;

        p{
            @include font-size(20);
            color: $hard-blue;
        }

        .actual{
            width: 32%;
            flex-direction: column;
            background-color: $soft-blue;
            *{color: white;}
            img{
                width: 110px;
                margin: 20px 0;
            }
            p{
                margin: 5px 0 20px;
            }
            button{
                background-color: white;
                color: $hard-blue;
            }

            .aceptado{
                background-color: $soft-blue;
                color: white;
            }
        }

        .hist{
            width: 66%;
            flex-direction: column;
            h6{
                align-self: flex-start;
                margin-bottom: 15px;
            }
            .row{
                margin-bottom: 15px;
                img{
                    width: 70px;
                }
                &>p{
                    text-align: left;
                    padding-left: 20px;
                    width: 50%;
                }
                div{
                    @include colum();
                    align-items: flex-end;
                    :first-child{
                        font-weight: bold;
                    }
                    :last-child{
                        @include font-size(18)
                    }
                }
            }
        }
    }    
}

.cont{
    padding: 10px 20px;
    @include box-shadow();
    background-color: white;
    border-radius: 20px;
    @include center();
}

.facebook {
    color: #3B5998;
}

.linkedin {
    color: #007BB6;
}

.google {
    color: #DD4B39;
}

.tweeter {
    color: #00ACED;
}